# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.github/agents/
memory/
*.spec

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Misc
*.log
*.tmp
